.app {
  width: 100%;
  max-width: 1080px;
  background: #FFFFFF;

  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;

}

.container {
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}